{% extends "users/base_users.html" %}
{% block content %}
<body>
    <div class="registration-form">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail address:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Zarejestruj się">
           </div>
            <div class="form-group">
                <a href="{% url 'home' %}" class="button">Powrót do Home</a>
            </div>
            <div class="form-group">
                <a href="{% url 'login' %}" class="button">Already have an account? Log in!</a>
            </div>
        </form>
    </div>
</body>
{% endblock content %}